.change-password-section {
    width: 50%;
    max-width: 1100px;
    margin: auto;
    background: rgb(238, 238, 238);
    border-radius: 10px;
    padding: 20px 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    -webkit-box-shadow: 1px 1px 17px -3px rgba(0,0,0,0.8);
    -moz-box-shadow: 1px 1px 17px -3px rgba(0,0,0,0.8);
    box-shadow: 1px 1px 17px -3px rgba(0,0,0,0.15);
}

.change-password-section .form-box {
    margin-top: 10px;
    margin-bottom: 10px;
}

.change-password-btn {
    width: 170px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #725cfa;
    border: #725cfa;
    border-radius: 10px;
    color: #fbfbfbfb;
}

.change-password-btn:hover {
    background-color: #604fd3;
    transition: 0.5s;
}
