html{
    scroll-behavior: smooth;
}

/* Navbar styles (If the changes don't show up in the browser, press CTRL + F5) */ 

.logo-brand{
    min-width: 110px;
    max-width: 50px;
}

/* End of navbar styles */

/* Validation Form */

.error-text{
    color: darkred;
    visibility: hidden;
}

.form-box.form-error input{
    border-bottom: 2px solid red;
}

.form-box.form-error .error-text {
    visibility: visible;
}

.form-box.form-success input {
    border-bottom: 2px solid #1e9ba3;
}

/* End of validation form */

/* Carousel */ 

/* .carousel {
    z-index: 1;
} */


.carousel-inner > .carousel-item > img {
    object-fit: cover;
}


.maps {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.content {
    background-color: rgb(238, 238, 238);
}

.price-list-section {
    display: flex;
    justify-content: center;
}

.price-list-section .price-list-container {
    width: 100%;
    max-width: 220px;
}

.price-list-section .price-list-container .price-list-item .price-list-box {
    background-color: #7c20fe;
    width: 100%;
    height: 80%;
    border-radius: 10px;
    padding: 20px 0;
    transition: 0.7s;
    margin: 20px;
}

.price-list-section .price-list-container .price-list-item a {
    text-decoration: none;
    color: #fbfbfb;
    font-weight: bold;
}

.price-list-section .price-list-container .price-list-item .price-list-box:hover {
    transform: scale(1.05);
}

.menu {
    padding: 30px;
}

.category-section {
    display: flex;
    justify-content: center;
}

.category-section .category-container {
    width: 90%;
    max-width: 1100px;
}

.category-section .category-container .item .category-box {
    background-color: #7c20fe;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 15px 0;
    transition: 0.7s;
}

.category-section .category-container .item .category-box img {
    height: 80px;
    width: 80px;
    transition: 0.7s;
}

.category-section .category-container .item a {
    text-decoration: none;
    color: #fbfbfb;
    font-weight: bold;
}

.category-section .category-container .item .category-box:hover {
    transform: scale(1.05);
}

.category-section .category-container .item {
    padding: 5px 10px;
}





