html{
    scroll-behavior: smooth;
}


/* Navbar styles*/
.navbar{
    background-color: #485769;
    box-shadow: 0 2px 4px 0 rgba(0,0,0, .05);
    min-height: 80px;
}

.logo-brand{
    min-width: 110px;
    max-width: 10px;
}

/* End of navbar styles */